In [2]:
import pandas as pd

In [107]:
data = pd.read_pickle("../data/processed/memory_optimized_data.pkl")

In [112]:
data

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06 17:53:46.937000+00:00,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06 17:54:17.519000+00:00,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06 17:54:56.302000+00:00,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06 17:54:56.387000+00:00,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06 17:55:03.253000+00:00,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK
...,...,...,...,...,...,...,...,...,...,...,...
11341037,ab3136ba,c09b94eebfdf50a6,2019-10-10 15:11:15.584000+00:00,"{""description"":""Tap another dinosaur."",""identi...",fffc0583,66,3110,118615,Dino Dive,Game,MAGMAPEAK
11341038,27253bdc,6ad8ab25003ef1b0,2019-10-10 15:12:17.364000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 2,Clip,CRYSTALCAVES
11341039,27253bdc,71904dca23b982c6,2019-10-10 15:13:04.713000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341040,27253bdc,2267b18f069e875a,2019-10-10 15:13:54.545000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341041,27253bdc,f31950f549d7c242,2019-10-10 15:15:12.483000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Tree Top City - Level 2,Clip,TREETOPCITY

In [35]:
labels = pd.read_csv("../data/raw/train_labels.csv")

In [36]:
labels.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

## Initial Exploration of Data

In [19]:
#number of records in training set
data.size

135751462

In [20]:
#number of records per user (installation ID)
installation_id_groupby=data.groupby(['installation_id'])
installation_id_groupby.size()

installation_id
0001e90f    2714
000447c4     362
0006a69f    7602
0006c192    4448
0009a5a9     824
            ...
fff64664     779
fff70c1e      44
fff744ce       3
fff944d5     173
fffc0583     251
Length: 17000, dtype: int64

In [29]:
#Average records per user
int(installation_id_groupby.size().mean())

725

In [34]:
#number of unique values - interesting to note number of independent installation_ids, as this corresponds to number of 
data.nunique()

event_id                384
game_session         303319
timestamp          10777308
event_data         10893749
installation_id       17000
event_count            3368
event_code               42
game_time            834048
title                    44
type                      4
world                     4
dtype: int64

## Exploration of a single installation ID

In [121]:
extract=data[data['installation_id']=='fffc0583']
extract_modified=extract

In [122]:
extract_modified

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
11340791,7d093bf9,b5812175588a247c,2019-10-10 14:42:35.171000+00:00,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",fffc0583,1,2000,0,Chow Time,Game,CRYSTALCAVES
11340792,f93fc684,b5812175588a247c,2019-10-10 14:42:37.668000+00:00,"{""coordinates"":{""x"":539,""y"":676,""stage_width"":...",fffc0583,2,4010,2536,Chow Time,Game,CRYSTALCAVES
11340793,7ec0c298,b5812175588a247c,2019-10-10 14:42:39.867000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,3,3010,4735,Chow Time,Game,CRYSTALCAVES
11340794,0d1da71f,b5812175588a247c,2019-10-10 14:42:41.053000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,4,3110,5903,Chow Time,Game,CRYSTALCAVES
11340795,63f13dd7,b5812175588a247c,2019-10-10 14:42:41.056000+00:00,"{""dinosaur"":""mikey"",""diet"":""carnivore"",""target...",fffc0583,5,2020,5903,Chow Time,Game,CRYSTALCAVES
...,...,...,...,...,...,...,...,...,...,...,...
11341037,ab3136ba,c09b94eebfdf50a6,2019-10-10 15:11:15.584000+00:00,"{""description"":""Tap another dinosaur."",""identi...",fffc0583,66,3110,118615,Dino Dive,Game,MAGMAPEAK
11341038,27253bdc,6ad8ab25003ef1b0,2019-10-10 15:12:17.364000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 2,Clip,CRYSTALCAVES
11341039,27253bdc,71904dca23b982c6,2019-10-10 15:13:04.713000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341040,27253bdc,2267b18f069e875a,2019-10-10 15:13:54.545000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341041,27253bdc,f31950f549d7c242,2019-10-10 15:15:12.483000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Tree Top City - Level 2,Clip,TREETOPCITY

In [161]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     display(extract)

In [124]:
# #Find only rows that contain the word cool - hoped that this would identify the last row if the game was successful
# extract[extract['event_data'].map(lambda x : 'cool' in x)==True]

In [125]:
extract_modified['changed_first']=extract_modified['title'] != extract_modified['title'].shift(1).fillna(extract_modified['title'])
extract_modified['changed_last']=extract_modified['title'] != extract_modified['title'].shift(-1).fillna(extract_modified['title'])

/Users/lucastamatescu/PycharmProjects/kaggle/kaggle-data-science-bowl/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/lucastamatescu/PycharmProjects/kaggle/kaggle-data-science-bowl/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
extract_modified.head(5)

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,changed_first,changed_last
11340791,7d093bf9,b5812175588a247c,2019-10-10 14:42:35.171000+00:00,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",fffc0583,1,2000,0,Chow Time,Game,CRYSTALCAVES,False,False
11340792,f93fc684,b5812175588a247c,2019-10-10 14:42:37.668000+00:00,"{""coordinates"":{""x"":539,""y"":676,""stage_width"":...",fffc0583,2,4010,2536,Chow Time,Game,CRYSTALCAVES,False,False
11340793,7ec0c298,b5812175588a247c,2019-10-10 14:42:39.867000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,3,3010,4735,Chow Time,Game,CRYSTALCAVES,False,False
11340794,0d1da71f,b5812175588a247c,2019-10-10 14:42:41.053000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,4,3110,5903,Chow Time,Game,CRYSTALCAVES,False,False
11340795,63f13dd7,b5812175588a247c,2019-10-10 14:42:41.056000+00:00,"{""dinosaur"":""mikey"",""diet"":""carnivore"",""target...",fffc0583,5,2020,5903,Chow Time,Game,CRYSTALCAVES,False,False

In [127]:
extract_modified['changed_cum']=extract_modified['changed_first'] | extract_modified['changed_last']

/Users/lucastamatescu/PycharmProjects/kaggle/kaggle-data-science-bowl/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
extract_modified

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,changed_first,changed_last,changed_cum
11340791,7d093bf9,b5812175588a247c,2019-10-10 14:42:35.171000+00:00,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",fffc0583,1,2000,0,Chow Time,Game,CRYSTALCAVES,False,False,False
11340792,f93fc684,b5812175588a247c,2019-10-10 14:42:37.668000+00:00,"{""coordinates"":{""x"":539,""y"":676,""stage_width"":...",fffc0583,2,4010,2536,Chow Time,Game,CRYSTALCAVES,False,False,False
11340793,7ec0c298,b5812175588a247c,2019-10-10 14:42:39.867000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,3,3010,4735,Chow Time,Game,CRYSTALCAVES,False,False,False
11340794,0d1da71f,b5812175588a247c,2019-10-10 14:42:41.053000+00:00,"{""description"":""It's Chow Time! We have some V...",fffc0583,4,3110,5903,Chow Time,Game,CRYSTALCAVES,False,False,False
11340795,63f13dd7,b5812175588a247c,2019-10-10 14:42:41.056000+00:00,"{""dinosaur"":""mikey"",""diet"":""carnivore"",""target...",fffc0583,5,2020,5903,Chow Time,Game,CRYSTALCAVES,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11341037,ab3136ba,c09b94eebfdf50a6,2019-10-10 15:11:15.584000+00:00,"{""description"":""Tap another dinosaur."",""identi...",fffc0583,66,3110,118615,Dino Dive,Game,MAGMAPEAK,False,True,True
11341038,27253bdc,6ad8ab25003ef1b0,2019-10-10 15:12:17.364000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 2,Clip,CRYSTALCAVES,True,True,True
11341039,27253bdc,71904dca23b982c6,2019-10-10 15:13:04.713000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES,True,False,True
11341040,27253bdc,2267b18f069e875a,2019-10-10 15:13:54.545000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES,False,True,True
11341041,27253bdc,f31950f549d7c242,2019-10-10 15:15:12.483000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Tree Top City - Level 2,Clip,TREETOPCITY,True,False,True

In [160]:
extract_sorted=extract_modified[(extract_modified['changed_cum']==True)][['title','timestamp']]
extract_sorted

                            title                        timestamp
11340843                Chow Time 2019-10-10 14:43:27.279000+00:00
11340844  Tree Top City - Level 2 2019-10-10 14:44:15.121000+00:00
11340845         Ordering Spheres 2019-10-10 14:44:53.710000+00:00
11340846         All Star Sorting 2019-10-10 14:46:05.614000+00:00
11340925         All Star Sorting 2019-10-10 14:48:10.394000+00:00
11340926              Costume Box 2019-10-10 14:48:26.558000+00:00
11340927              Costume Box 2019-10-10 14:48:43.509000+00:00
11340928     Fireworks (Activity) 2019-10-10 14:49:55.821000+00:00
11340966     Fireworks (Activity) 2019-10-10 14:50:36.147000+00:00
11340967               12 Monkeys 2019-10-10 14:50:52.565000+00:00
11340968  Tree Top City - Level 2 2019-10-10 14:52:50.075000+00:00
11340969  Tree Top City - Level 2 2019-10-10 14:53:57.436000+00:00
11340970  Tree Top City - Level 3 2019-10-10 14:54:59.701000+00:00
11340971     Magma Peak - Level 2 2019-10-10 15:08:23.374000+00:00
11340972                Dino Dive 2019-10-10 15:09:16.970000+00:00
11341037                Dino Dive 2019-10-10 15:11:15.584000+00:00
11341038  Crystal Caves - Level 2 2019-10-10 15:12:17.364000+00:00
11341039  Crystal Caves - Level 3 2019-10-10 15:13:04.713000+00:00
11341040  Crystal Caves - Level 3 2019-10-10 15:13:54.545000+00:00
11341041  Tree Top City - Level 2 2019-10-10 15:15:12.483000+00:00

In [136]:
extract_sorted=extract_modified[(extract_modified['changed_cum']==True) & (extract_modified['type']!='Clip')][['title','timestamp']]
extract_sorted

                         title                        timestamp
11340843             Chow Time 2019-10-10 14:43:27.279000+00:00
11340846      All Star Sorting 2019-10-10 14:46:05.614000+00:00
11340925      All Star Sorting 2019-10-10 14:48:10.394000+00:00
11340928  Fireworks (Activity) 2019-10-10 14:49:55.821000+00:00
11340966  Fireworks (Activity) 2019-10-10 14:50:36.147000+00:00
11340972             Dino Dive 2019-10-10 15:09:16.970000+00:00
11341037             Dino Dive 2019-10-10 15:11:15.584000+00:00

In [148]:
extract_sorted['delta']=extract_sorted['timestamp'].diff()
extract_sorted

,title,timestamp,changed_last,delta
11340843,Chow Time,2019-10-10 14:43:27.279000+00:00,True,NaT
11340846,All Star Sorting,2019-10-10 14:46:05.614000+00:00,False,00:02:38.335000
11340925,All Star Sorting,2019-10-10 14:48:10.394000+00:00,True,00:02:04.780000
11340928,Fireworks (Activity),2019-10-10 14:49:55.821000+00:00,False,00:01:45.427000
11340966,Fireworks (Activity),2019-10-10 14:50:36.147000+00:00,True,00:00:40.326000
11340972,Dino Dive,2019-10-10 15:09:16.970000+00:00,False,00:18:40.823000
11341037,Dino Dive,2019-10-10 15:11:15.584000+00:00,False,00:01:58.614000

In [153]:
#TODO Need to take final value if duplicate to second last, as this method only takes the latest *different* value

extract_sorted['changed_last']=extract_sorted['title'] != extract_sorted['title'].shift(-1).fillna(extract_sorted['title'])
extract_sorted['changed_last'].iloc[-1]=True
extract_sorted

,title,timestamp,changed_last,delta
11340843,Chow Time,2019-10-10 14:43:27.279000+00:00,True,NaT
11340846,All Star Sorting,2019-10-10 14:46:05.614000+00:00,False,00:02:38.335000
11340925,All Star Sorting,2019-10-10 14:48:10.394000+00:00,True,00:02:04.780000
11340928,Fireworks (Activity),2019-10-10 14:49:55.821000+00:00,False,00:01:45.427000
11340966,Fireworks (Activity),2019-10-10 14:50:36.147000+00:00,True,00:00:40.326000
11340972,Dino Dive,2019-10-10 15:09:16.970000+00:00,False,00:18:40.823000
11341037,Dino Dive,2019-10-10 15:11:15.584000+00:00,False,00:01:58.614000

In [150]:
extract_sorted['title'].shift(-1).fillna(extract_sorted['title'])

11340843        All Star Sorting
11340846        All Star Sorting
11340925    Fireworks (Activity)
11340928    Fireworks (Activity)
11340966               Dino Dive
11340972               Dino Dive
11341037               Dino Dive
Name: title, dtype: category
Categories (44, object): [12 Monkeys, Air Show, All Star Sorting, Balancing Act, ..., Tree Top City - Level 2, Tree Top City - Level 3, Watering Hole (Activity), Welcome to Lost Lagoon!]

/Users/lucastamatescu/PycharmProjects/kaggle/kaggle-data-science-bowl/.venv/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

True