In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('../data/processed/memory_optimized_data.pkl')
df

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06 17:53:46.937000+00:00,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06 17:54:17.519000+00:00,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06 17:54:56.302000+00:00,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06 17:54:56.387000+00:00,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06 17:55:03.253000+00:00,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK
...,...,...,...,...,...,...,...,...,...,...,...
11341037,ab3136ba,c09b94eebfdf50a6,2019-10-10 15:11:15.584000+00:00,"{""description"":""Tap another dinosaur."",""identi...",fffc0583,66,3110,118615,Dino Dive,Game,MAGMAPEAK
11341038,27253bdc,6ad8ab25003ef1b0,2019-10-10 15:12:17.364000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 2,Clip,CRYSTALCAVES
11341039,27253bdc,71904dca23b982c6,2019-10-10 15:13:04.713000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341040,27253bdc,2267b18f069e875a,2019-10-10 15:13:54.545000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Crystal Caves - Level 3,Clip,CRYSTALCAVES
11341041,27253bdc,f31950f549d7c242,2019-10-10 15:15:12.483000+00:00,"{""event_code"": 2000, ""event_count"": 1}",fffc0583,1,2000,0,Tree Top City - Level 2,Clip,TREETOPCITY

In [4]:
df1 = df[['title', 'installation_id']].drop_duplicates()
df1

                                  title installation_id
0               Welcome to Lost Lagoon!        0001e90f
1                  Magma Peak - Level 1        0001e90f
2         Sandcastle Builder (Activity)        0001e90f
362                         Scrub-A-Dub        0001e90f
1103               Magma Peak - Level 2        0001e90f
...                                 ...             ...
11340970        Tree Top City - Level 3        fffc0583
11340971           Magma Peak - Level 2        fffc0583
11340972                      Dino Dive        fffc0583
11341038        Crystal Caves - Level 2        fffc0583
11341039        Crystal Caves - Level 3        fffc0583

[159732 rows x 2 columns]

In [17]:
df1['temp'] = True
df1

                                  title installation_id  temp
0               Welcome to Lost Lagoon!        0001e90f  True
1                  Magma Peak - Level 1        0001e90f  True
2         Sandcastle Builder (Activity)        0001e90f  True
362                         Scrub-A-Dub        0001e90f  True
1103               Magma Peak - Level 2        0001e90f  True
...                                 ...             ...   ...
11340970        Tree Top City - Level 3        fffc0583  True
11340971           Magma Peak - Level 2        fffc0583  True
11340972                      Dino Dive        fffc0583  True
11341038        Crystal Caves - Level 2        fffc0583  True
11341039        Crystal Caves - Level 3        fffc0583  True

[159732 rows x 3 columns]

In [18]:
df1.pivot(columns = 'title', values = 'temp', index = 'installation_id').fillna(False)

title,12 Monkeys,Air Show,All Star Sorting,Balancing Act,Bird Measurer (Assessment),Bottle Filler (Activity),Bubble Bath,Bug Measurer (Activity),Cart Balancer (Assessment),Cauldron Filler (Assessment),...,Rulers,Sandcastle Builder (Activity),Scrub-A-Dub,Slop Problem,Treasure Map,Tree Top City - Level 1,Tree Top City - Level 2,Tree Top City - Level 3,Watering Hole (Activity),Welcome to Lost Lagoon!
installation_id,,,,,,,,,,,,,,,,,,,,,
0001e90f,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,True,False,False,False,True
000447c4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
0006a69f,True,True,True,False,True,True,True,True,False,False,...,True,True,True,True,True,True,True,True,True,True
0006c192,True,False,False,True,True,True,True,True,False,True,...,True,True,True,False,True,True,True,True,True,True
0009a5a9,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff64664,False,False,False,True,False,False,False,False,False,False,...,False,True,True,True,False,True,True,False,False,True
fff70c1e,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
fff744ce,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
fff944d5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
fffc0583,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False